In [ ]:
#Creating Databases in MySQL

import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root",  password="#meKRISH30")
print(mydb)
cursor = mydb.cursor()

In [ ]:
cursor.execute('SHOW DATABASES')
for database in cursor:
    print(database)

In [ ]:
# sql_mode=only_full_group_by

sql= "SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''))"
cursor.execute(sql)
mydb.commit()

In [ ]:
# -selected database

cursor.execute('use grofers')

In [ ]:
#Show tables

sql= "show tables"
cursor.execute(sql)

for database in cursor:
    print(database)

In [ ]:
#0.1 #Q0  Table1.

sql= "select * from Table1 "
cursor.execute(sql)
myresult= cursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
#0.2 #Q0  Table2

sql= "select * from Table2 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)

In [ ]:
#0.3 #Q0  Table3

sql= "select * from Table3 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)

In [ ]:
#  #Q1. How Many students joined the session on time?


sql= "select * from (select ROW_NUMBER() OVER(ORDER BY Marks desc) as rnk, ID,Marks,Email from Table1)SUB where rnk=2 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)

In [ ]:
#  #Q2. How many students joined the session after 10mins of the Session time?


sql= "select * from (select ROW_NUMBER() OVER(ORDER BY Marks desc) as rnk, ID,Marks,Email from Table1)SUB where rnk=2 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)

In [ ]:
#  #Q3. How Many students attended the sessions?


sql= "select * from (select ROW_NUMBER() OVER(ORDER BY Marks desc) as rnk, ID,Marks,Email from Table1)SUB where rnk=2 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)

In [ ]:
#  #Q4. How many students attended all the classes?

sql= "select * from (select ROW_NUMBER() OVER(ORDER BY Marks desc) as rnk, ID,Marks,Email from Table1)SUB where rnk=2 "
cursor.execute(sql)
myresult= cursor.fetchall()   #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
  print(x)